registry=https://npm.pkg.github.com/@workduck-io
registry=https://registry.npmjs.org
@workduck-io:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=9509c5d4c88c68a34d266c265e50eea1160158fb